
html,body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(img/baseballf12.png);
    background-size: contain;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}


h1{
    text-align: center;
    font-size: 40px;
    border-bottom: 3px solid black;
    font-weight: normal;
  }

  .hidden{
    display: none;
  }

  button{
    width: 200px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px; 
    background: linear-gradient(135deg, #f4d03f, #e67e22);
  }

  button:hover{
    opacity: .8;
  }

  .quiz-field{
    margin: 0 auto;
  }

  #count{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #quiz{
    font-size: 30px;
    width: 370px;
    margin: 0 auto;
    font-weight: normal;
  }

  .center{
    text-align: center;
  }

  #selection{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .newp{
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    flex: 0 0 auto;
    width: 60px;
    height: 30px;
  }

  .end{
    font-size: 20px;
    margin-top: -20px;
    text-align: center;
    margin-bottom: 20px;
  }


  /*アニメーション*/


  #selection p{
    transition-property: opacity color border-color;
    transition-duration: .1s;
  }

  #selection p:hover{
    opacity: .5;
    color: white;
    border-color: white;
  }


