<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カートの中身</title>
</head>
<body>
    <% content.forEach((data) => { %>
        <% console.log(content)%>
        <img src="<%=data.productpass %>"> 
        <p><%=data.productname %></p>
        <p><%=data.quantity %></p>
    <% }) %>
</body>
</html>